<%- include ../partials/header.ejs%>

  <div class="container mt-5">
    <form action="/user/items/add" method="POST">
      <div class="form-group col-md-6">
        <label >Item Name :</label>
        <input type="text" class="form-control" name="name"> <br/>
      </div>

      <div class="form-group col-md-6">
        <label>Price :</label>
        <input type="number" class="form-control" name="price"> <br/>
      </div>

      <div class="form-group col-md-6">
        <label>Percentage (%) :</label>
        <input type="number" class="form-control" name="percentage"> <br/>
      </div>

      <div class="form-group col-md-6">
        <label>Item Photo : </label><br />
        <input type="file"  name="photo"> <br/>
      </div>

      <div class="form-group col-md-6">
        <label>Foundations :</label>
        <select name="FoundationId" class="custom-select">
          <option value='' > --- select Foundation --- </option>
          <% foundations.forEach(function(foundation) {%>
             <option value= '<%= foundation.id %>' > <%= foundation.foundation_name %> </option>
          <% }) %>
        </select>
      </div>

      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>

<%- include ../partials/footer.ejs%>
